# Ignore class files
*.class
# Ignore log files
*.log
# Ignore temporary files
*~
# Ignore IDE specific files (for example, IntelliJ IDEA and Eclipse)
.idea/
.classpath
.project
.settings/
*.iml
# Ignore build directories
/bin/
/out/

